<?xml version="1.0"?>
<launch>

  <include file="$(find calypso_sim)/launch/blue.launch" />
  <include file="$(find calypso_sim)/launch/spawn.launch" />
  <include file="$(find calypso_sim)/launch/controllers.launch" />
  <include file="$(find rosetta)/launch/rosetta.launch" />
  <!-- <include file="$(find calypso_pid_beta)/launch/pid.launch" /> -->

</launch>
